<div class="responsive-img center-align row user_image">
  <%= image_tag "/headshots/#{@photo.image_file_name}" %>
</div>


<div class="stache">
  <%= image_tag "/mustache1.png", class: "image" %>
</div>

<%= link_to "Stache Me Again!", "/mustache_me" %>