<% if object.errors.any? %>
  <p><%= pluralize(object.errors.count, "error") %>
  prohibited this record from being saved:</p>
  <% object.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
<% end %>