<div class="container transparent">
  <h1>Orders:</h1>

  <table class="centered boreded">
    <thead>
      <tr>
          <th data-field="id">Order ID</th>
          <th data-field="status">Status</th>
          <th data-field="view">View</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.status.capitalize %></td>
        <td><%= link_to "View Order Details", order_path(order) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
