<h1>Orders:</h1>
<div class="order">
  <% @orders.each do |order| %>
    Order Number: <%= order.id %><br>
    Staches in this order:
    <ul>
      <% order.staches.each do |stache| %>
      <li><%= stache.name %>: <%= stache.quantity %></li>
      <% end %>
    </ul>
  <% end %>
</div>
