<h1 class="center">Cart</h1>
<ul class="collection cart">
  <%= render partial: "stache", collection: @staches if @staches %>
  <li class="collection-item light-green lighten-4 right-align brown-text">
    Total Staches: <%= @cart.total_quantity %>
  </li>
  <li class="collection-item light-green lighten-4 right-align brown-text">
    Total Price: $<%= @cart.total_cost %>
  </li>
</ul>
