<%= headshot_default_config(Rails.application.config.session_options[:key], headshot_capture_path) %>

<div class="col s12 m12 stache-me-box">
  <div class="preview">
    <div class="card-image">
      <img class="stache-me" src="<%= @stache.stache_url %>">
      <div class="camera center-align responsive-video">
        <%= headshot_camera(width = 700, height = 550) %>
      </div>
    </div>
    <div class="card-action container center row cam-buttons">
      <button class="capture row btn brown" id="myButton" type="submit" name="button" onclick="headshotHandlers.snap(); redirectTo('<%= stache_stached_path(stache_id: @stache.id) %>');">Stache Me!</button>
  </div>
</div>
<script type="text/javascript">
function redirectTo(sUrl) {
  setTimeout (function () {
    window.location = sUrl
  }, 500);
}
</script>