<%= render "stache_and_sales_content" %>
  <div class="col s12 m12 stache-me-box">
    <div class="preview">
      <div class="card-image">
        <img class="stache-pic" src="<%= @stache.stache_url %>">
        <div class="center-align row responsive-video">
            <%= image_tag "/headshots/#{@photo.image_file_name}", class: "user_image"%>
        </div>
      </div>
      <div class="container center">
        <%= link_to "Again, again!", @stache, class: "btn brown" %>
              </div>
  </div>
