body {
  background-color: tan;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

footer {
   position:relative;
   bottom: 0;
   width: 100%;
}
footer.page-footer {
  background-color: saddlebrown;
}

nav {
  background-color: saddlebrown;
  color: black;
}

.collection {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.flash_removed {
  color: green;
}

.stache_in_cart {
  display: inline;
}

/*Mustache Me*/
.camera_element {
  width: 500px;
}

.image {
  max-width: 250px;
  top: 450px;
  left: 340px;
  position: absolute;
    height: auto;
}

.camera {
  width: 1000px;

}

.capture {
  top: 300px;
  right: 200px;
  position: absolute;
  width: 200px;
}

.user_image {
  width: 800px;
  height: 600px;
}
/*Mustache me end*/
