body {
  background-image: url("subtle_white_feathers.png");
  background-color: white;
  min-height: 100vh;
}
h4 {
  font-family: 'Unica One';
  color: darkolivegreen;
}

h5 {
  font-family: 'Unica One', cursive;
  color: darkolivegreen;
}

a {
  color: forestgreen;
}

.preview img {
  max-width: 250px;
  margin: auto;
  display: block;
}

#credentials {
  padding-top: 28px;
  position: absolute;
  right: 9px;
  font-family: 'Unica One';
}

footer {
   position:inherit;
   bottom: 0;
   width: 100%;
   height: 150px;
}
footer.page-footer {
  background-color: #5d4037;
  margin-top: 90px;
  position: inherit;
  max-height: 120px;
}
/*----NAVIGATION----*/

.left-nav {
  position: fixed;
  width: 40%;
}
.logo-box {
  display: block;
  margin: auto;
  max-width: 280px;
  width: 30%;
  min-width: 180px;
  text-align: center;
}
#logo {
  margin-top: 9px;
  max-width: 280px;
  width: 100%;
  min-width: 180px;
}
.cart_box {
  width: 100px;
  padding-left: 6%

}
.shoppingcart {
  left: 29px;
  margin-top: 19px;
  position: absolute;

}
.cart_total {
  left: 9px;
  margin-top: 19px;
  position: absolute;
  right: 94.6%;
  color: brown;
}
.login-logout {
  text-decoration: underline;
  font-size: 12px;
  padding-top: 7px;
  padding-right: 15px;
  font-family: 'Unica One';
}
.fixed {
  text-decoration: underline;
  font-size: 12px;
  padding-top: 7px;
  padding-left: 15px;
  font-family: 'Unica One';
}
.flash_removed {
  color: green;
}
/*----CART----*/
.stache_in_cart {
  display: block;
  width: 50px;
}
.cart_data {
  margin-left: 90%;
  width: 200px;
}
.collection {
  margin-left: auto;
  margin-right: auto;
}
.checkout-btn {
  float: right;
}

.category-label {
  font-family: 'Unica One', cursive;
  font-size: 2em;
  color: #33691e;
}

.status {
  margin:auto;
  width: 80%;
  /*padding-left: 200px;*/
}
/*----INDEX----*/
.card-title {
  display: inherit;
  font-family: 'Unica One';
}
/*----SHOW----*/
.stache-me-box{
  position: relative;
}
.stache-me {
  z-index: 10;
  width: 60%;
  position: absolute;
  top: 50%;
  left: 20%;
}
