body {
  background-image: url("brick-wall.png");
  /*background-image: url("subtle_white_feathers.png");*/
  background-color: white;
  height: 100%;
}
h4 {
  font-family: 'Unica One';
  color: darkolivegreen;
}
h5 {
  font-family: 'Unica One';
  color: darkolivegreen;
}
p {
  font-family: 'Unica One';
}
li {
  font-family: 'Unica One';
}
a {
  color: forestgreen;
  font-family: 'Unica One';
}

.btn {
  font-family: 'Unica One';
}

.preview img {
  max-width: 250px;
  margin: auto;
  display: block;
}

#credentials {
  padding-top: 28px;
  position: fixed;
  z-index: -1;
  right: 9px;
  font-family: 'Unica One';
}

.flash {
  padding-left: 10px;
}

/*----NAVIGATION----*/

.left-nav {
  position: fixed;
  width: 40%;
}
.logo-box {
  display: block;
  margin: auto;
  max-width: 280px;
  width: 30%;
  min-width: 180px;
  text-align: center;
}
#logo {
  margin-top: 9px;
  max-width: 280px;
  width: 100%;
  min-width: 180px;
}
.cart_box {
  width: 100px;
  padding-left: 6%

}
.shoppingcart {
  left: 29px;
  margin-top: 19px;
  position: absolute;
}
.cart_total {
  left: 9px;
  margin-top: 19px;
  position: absolute;
  right: 94.6%;
  color: brown;
  font-family: 'Unica One';
}
.collection .collection-item.avatar .secondary-content {
  color: black;
  top: 5px;
}
.remove {
  position: absolute;
  bottom: 12px;
}
.line{
  display: block;
  height: 3px;
  border: 0;
  border-top: 4px solid white;
  margin: .5em 0;
  padding: 0;
}
.login-logout {
  text-decoration: underline;
  font-size: 12px;
  padding-top: 7px;
  padding-right: 15px;
  font-family: 'Unica One';
}
.fixed {
  text-decoration: underline;
  font-size: 12px;
  padding-top: 7px;
  padding-left: 15px;
  font-family: 'Unica One';
}
.flash_removed {
  color: green;
}
/*----CART----*/
.title {
  margin-left: -20px;
}
.stache_in_cart {
  display: block;
  width: 50px;
}
.cart_data {
  width: 100px;
  position: absolute;
  right: 20px;
  bottom: 10px;
}
.collection .collection-item.avatar {
  min-height: 200px;
    padding-left: 72px;
    position: relative;
}
.collection {
  margin-left: auto;
  margin-right: auto;
}
.checkout-btn {
  float: right;
}
.quantity {
  text-align: right;
  padding-right: 12%;
}
.description {
  margin-right: 30%;
  margin-left: 80px;
}
.delete {
  position: absolute;
  bottom: 5%;
  right: 20%;
}
.collection .collection-item.avatar .circle  {
  width: 130px;
  height: 140px;
  position: absolute;
  bottom: 30px;
}
.category-label {
  font-family: 'Unica One', cursive;
  font-size: 2em;
  color: #33691e;
}

.status {
  margin: auto;
  width: 80%;
}

.purchaser {
  margin: auto;
  width: 80%;
}
/*----INDEX----*/
.card-title {
  display: inherit;
  font-family: 'Unica One';
}

.stache-desc {
  height: 100px;
}
/*----SHOW----*/
.stache-me-box{
  position: relative;
}


/*Mustache Me*/
.stache-me {
  z-index: 10;
  width: 60%;
  position: absolute;
  top: 46%;
  left: 41%;
}

.stache-pic {
  z-index: 10;
  width: 60%;
  position: absolute;
  top: 47%;
  left: 41%;
}


.cam-buttons {
  padding-top: 10px;
}

.image {
  max-width: 250px;
  top: 450px;
  /*left: 43%;*/
  position: absolute;
    height: auto;
}

img.user_image {
  top: 10%;
    max-width: 700px;
    border-style: solid;
    border-width: 10px;
    border-radius: 5%;
}
/*Mustache me end*/

.footer-bar {
  background-color: sienna;
  opacity: .9;
  width: 100%;
  height: 40px;
  position: fixed;
  clear:both;
  margin-top: 120px;
  bottom: 0;
  z-index: 0;
}
.footer-content {
  float: right;
  display: inline-block;
}
.footer-link {
  position: relative;
  top: 10px;
  left: 12px;
}
