<div class="container">
  <h3 class="center">Mustaches By Category:</h3>
  <div class="row">
    <%= render @categories %>
  </div>
</div>
<% unless current_user %>
  <%= link_to("Create Account", new_user_path, class: "waves-effect waves-light btn") %>
<% end %>
